body {
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fffafa;
    color: #3bb382;
}

.navbar a {
    background-color:  #fffafa;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid #eaeaea;
    color:#3bb382;
    
}

.btn-custom:hover {
    background-color: #f8f9fa;
}